server:
  port: 8082

spring:
  application:
    name: employee-service
  datasource:
    url: jdbc:h2:mem:employeedb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  cloud:
    loadbalancer:
      retry:
        enabled: true
      cache:
        enabled: true

# eureka:
#   instance:
#     lease-renewal-interval-in-seconds: 10
#     lease-expiration-duration-in-seconds: 30
#   client:
#     registry-fetch-interval-seconds: 5
#     initial-instance-info-replication-interval-seconds: 10

# logging:
#   level:
#     org:
#       springframework:
#         cloud:
#           loadbalancer: ERROR
